<% content_for :main_heading do %>
  Hi there <%= @user.first_name %>! Here's all the Users :)
<% end %>

<table id="users-table" class="data-table">
  <thead>
    <td>Name</td>
    <td>Email</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </thead>

  <% @users.each do |user| %>
    <tr>
      <td><%="#{user.first_name} #{user.last_name}"%></td>
      <td><%= user.email %></td>
      <% if session[:current_user_id] == user.id %>
        <td>                  
          <%= render "shared/button", text: "Edit", link: user, style_class: 'Polaris-Button--primary' %>
        </td>
        <td>
          <%= render "shared/button", text: "Delete", link: user, style_class: 'Polaris-Button--destructive', method: :delete %>
        </td>
      <% else %>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      <% end %>
    </tr>
  <% end %>
</table>
