<% content_for :main_heading do %>
  Hi there <%= @user.first_name %>! Here's all the Users :)
<% end %>

<table id="users-table">
  <% @users.each do |user| %>
    <tr>
      <td><strong> Name:</strong> </td>
      <td><%="#{user.first_name} #{user.last_name}"%></td>
      <td><strong> Email:</strong> </td>
      <td><%= user.email %></td>
      <% if session[:current_user_id] == user.id %>
        <td>                  
          <%= render "shared/button", text: "Edit", link: user, style_class: 'Polaris-Button--primary' %>
        </td>
        <td>
          <%= render "shared/button", text: "Delete", link: user, style_class: 'Polaris-Button--destructive', method: :delete %>
        </td>
      <% else %>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      <% end %>
    </tr>
  <% end %>
</table>
