<% content_for :main_heading do %>
  Edit your profile
<% end %>

<%=
=begin
%>
<table>
  <tr>
    <td> <b> NAME:</b> </td>
    <td> <%= @user.first_name %> <%= @user.last_name %> </td>
  </tr>
  <tr>
    <td> <b> EMAIL:</b> </td>
    <td> <%= @user.email %> </td>
  </tr>
</table>
<%=
=end
%>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, required: true, class: 'form-control' %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name, required: true, class: 'form-control' %>
  <%= f.label :email %>
  <%= f.email_field :email, required: true, class: 'form-control' %>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, required: false, class: 'form-control' %>
  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>

<br>

<div class="Polaris-ButtonGroup__Item">
  <%= link_to @user, method: :delete do %>
  <button type="button" class="Polaris-Button Polaris-Button--destructive"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Delete Me!</span></span></button>
  <% end %>
</div>
