<%# product card %>

<%
=begin
%>

# using local variables: optional
- text
- link
- style_class
- method
- active_button

<%
=end
%>

<% 
# get variant data
variant_data = local_assigns[:variant].attributes 

# get image url
image_src = @image_urls[variant_data['image_id']] || @product.image.src

# apply transformations
image_url = image_src.sub '.jpg', '_x200.jpg'

# disable button
active_button  = variant_data['inventory_quantity'] > 0 ? true : false
%>

<%# display card %>
<div id="product-card-<%= variant_data['id'] %>" class="Polaris-TextContainer product-card" data-product-id="<%= @product.id %>" data-variant-id="<%= variant_data['id'] %>" data-variant-price="<%= variant_data['price'] %>">
  <h2 class="Polaris-Heading product-card__title"><%= (variant_data['title'] === 'Default Title') ? @product.title : variant_data['title'] %></h2>
  <img class="product-card__image" src="<%= image_url %>" title="<%= variant_data['title'] %>" />
  <p class="product-card__price"><%= number_to_currency(variant_data['price'], unit: "€") %></p>
  <%# inventory %>
  <% if active_button %>
    <p class="product-card__inventory">Available to rent for <%= variant_data['inventory_quantity'] %> <%= "day".pluralize(variant_data['inventory_quantity']) %></p>
    <p>Rental Period: <%= select_tag "product-card__quantity-#{variant_data['id']}", options_for_select(1.upto(variant_data['inventory_quantity']).map{ |n| [n, n]}), class: "product-card__quantity" %></p>
  <% else %>
    <p class="product-card__inventory">Not available to rent</p>
    <p>&nbsp;</p>
  <% end %>
  <%= render "shared/button", text: "Rent", link: "https://test-store-adrian-corcoran-01.myshopify.com/cart/#{variant_data['id']}", style_class: "Polaris-Button--#{active_button ? "primary" : "disabled"} product-card__button", active_button: active_button %>
</div>