<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script language="javascript">

$(document).ready(function() {

  //  take action when the rent button is clicked
  $('.product-card__button').on('click', function() {

    // get data
    let $thisProductCard = $(this).parents('div.product-card');
    let $thisProductCardButton = $thisProductCard.find('.Polaris-ButtonGroup__Item');
    // set data
    let productId = $thisProductCard.data('product-id');
    let variantId = $thisProductCard.data('variant-id');
    let variantPrice = $thisProductCard.data('variant-price');
    let duration = $thisProductCard.find('.product-card__quantity').val();
    let checkoutUrlBase = $thisProductCardButton.find('a').attr('href');
    let checkoutUrl = `${checkoutUrlBase}:${duration}?channel=buy_button`;

    // send call to api
    $.ajax({
      url: "/rentals",
      type: "POST",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      data: {
        "product_id" : productId,
        "variant_id" : variantId,
        "variant_price" : variantPrice,
        "checkout_url" : checkoutUrl,
        "duration" : duration
      }
    });

    //  prevent the a link being clicked
    return false;
  })
});
</script>
        
<% # ------------------------------ %>
        
<% content_for :main_heading do %>
  You have chosen to rent: <strong><%= @product.title %></strong>
<% end %>

<%# heading %>
<p id="instructions-text" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Please select a rental period below:</p>
<p class="Polaris-DisplayText">&nbsp;</p>

<%# loop through and display variants %>
<div class="products">
  <% @variants.each do | variant | %>
    <%= render "shared/product_card", variant: variant %>
  <% end %>
</div>


<% # ------------------------------ %>

<%
=begin
%>

<%# original code from bootcamp - doesn't work %>

<script src="https://sdks.shopifycdn.com/js-buy-sdk/latest/shopify-buy.polyfilled.globals.js"></script>
<script language="javascript">
  var shopClient = ShopifyBuy.buildClient({
    apiKey: '<%= Rails.application.credentials.shop_api_key %>',
    domain: '<%= Rails.application.config.shop_domain %>',
    appId: '6'
  });

  var product;
  shopClient.fetchProduct(<%=params[:product_id] %>).then(function (fetchedProduct) {
     product = fetchedProduct;
   });

  function goCheckout() {
    var e = document.getElementById("variant_id");
    var variant_id = e.options[e.selectedIndex].value;
    var variant = getVariant(variant_id);

    window.shopClient.createCart().then(function (newCart) {
      newCart.addVariants({variant: variant, quantity: 1}).then(function (cart) {
        document.location.href = cart.checkoutUrl;
      });
    });
  }

  function getVariant(variant_id) {
    for (var i = 0; i < product.variants.length; i++) {
      if (product.variants[i].id == variant_id) {
        return product.variants[i];
      }
    }
  }
</script>


<%
=end
%>

<%
=begin
%>

<%# new code needs graphql and new id format - doesn't work %>

<script src="http://sdks.shopifycdn.com/js-buy-sdk/v2/latest/index.umd.min.js"></script>

<script language="javascript">
  var client = ShopifyBuy.buildClient({
    storefrontAccessToken: '<%= Rails.application.credentials.shop_storefront_access_token %>',
    domain: '<%= Rails.application.config.shop_domain %>'
  });

  client.product.fetchAll().then((products) => {
    // Do something with the products
    console.log(products);
    products.forEach(product => console.log(`${product.title}: ${product.id}`))
  });

  // Fetch a single product by ID
  var productId = '<%=params[:product_id] %>';

  client.product.fetch(productId).then((product) => {
    // Do something with the product
    console.log(product);
  });

  // Fetch a single product by ID
  productId = 'Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzEyNTMzNjI4OTUw';

  client.product.fetch(productId).then((product) => {
    // Do something with the product
    console.log(product);
  });


  // function goCheckout() {
  //   var e = document.getElementById("variant_id");
  //   var variant_id = e.options[e.selectedIndex].value;
  //   var variant = getVariant(variant_id);

  //   window.shopClient.createCart().then(function (newCart) {
  //     newCart.addVariants({variant: variant, quantity: 1}).then(function (cart) {
  //       document.location.href = cart.checkoutUrl;
  //     });
  //   });
  // }

  // function getVariant(variant_id) {
  //   for (var i = 0; i < product.variants.length; i++) {
  //     if (product.variants[i].id == variant_id) {
  //       return product.variants[i];
  //     }
  //   }
  // }
</script>

<%
=end
%>


<%# buy button %>

<%
=begin
%>

<div id='product-component-1567694939480'></div>
    <script type="text/javascript">
    /*<![CDATA[*/
      (function () {
        var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
        if (window.ShopifyBuy) {
          if (window.ShopifyBuy.UI) {
            ShopifyBuyInit();
          } else {
            loadScript();
          }
        } else {
          loadScript();
        }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'test-store-adrian-corcoran-01.myshopify.com',
          storefrontAccessToken: 'cbff80f5fe3928d2e4d43fe753b89aac',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [12533727254],
            node: document.getElementById('product-component-1567694939480'),
            moneyFormat: '€{{amount}}',
            options: {"product":{"variantId":"all","width":"240px","contents":{"img":false,"imgWithCarousel":false,"title":false,"variantTitle":false,"price":false,"description":false,"buttonWithQuantity":false,"quantity":false},"styles":{"product":{"text-align":"left","@media (min-width: 601px)":{"max-width":"100%","margin-left":"0","margin-bottom":"50px"}},"compareAt":{"font-size":"12px"}}},"cart":{"contents":{"button":true},"styles":{"footer":{"background-color":"#ffffff"}}},"modalProduct":{"contents":{"img":false,"imgWithCarousel":true,"variantTitle":false,"buttonWithQuantity":true,"button":false,"quantity":false},"styles":{"product":{"@media (min-width: 601px)":{"max-width":"100%","margin-left":"0px","margin-bottom":"0px"}}}},"productSet":{"styles":{"products":{"@media (min-width: 601px)":{"margin-left":"-20px"}}}}},
          });
        });
      }
    })();
    /*]]>*/
    </script>

<%
=end
%>

